# Imbalance Dataset 
### Upsampling - Minority
### Downsampling - Mejority

In [3]:
import numpy as np
import pandas as pd 
np.random.seed(123)

n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

In [4]:
n_class_0,n_class_1

(900, 100)

In [11]:
## create my dataframe with imbalanced dataset
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0]* n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_1),
    'target': [1]* n_class_1
})

In [12]:
df = pd.concat([class_0, class_1]).reset_index(drop=True)
df.head()

   feature_1  feature_2  target
0  -1.774224   0.285744       0
1  -1.201377   0.333279       0
2   1.096257   0.531807       0
3   0.861037  -0.354766       0
4  -1.520367  -1.120815       0

In [13]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

## Upsampling

In [14]:

df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [15]:
from sklearn.utils import resample
df_minority_upsampling = resample(df_minority, replace=True,
         n_samples=len(df_majority),
         random_state=42)

In [16]:
df_minority_upsampling.shape

(900, 3)

In [19]:
df_upsampled = pd.concat([df_majority,df_minority_upsampling])
df_upsampled['target'].value_counts()

target
0    900
1    900
Name: count, dtype: int64

# Down Sampling

In [20]:
df = pd.concat([class_0, class_1]).reset_index(drop=True)
df.head()

   feature_1  feature_2  target
0  -1.774224   0.285744       0
1  -1.201377   0.333279       0
2   1.096257   0.531807       0
3   0.861037  -0.354766       0
4  -1.520367  -1.120815       0

In [21]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [22]:
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [23]:
from sklearn.utils import resample
df_majority_upsampling = resample(df_majority, replace=True,
         n_samples=len(df_minority),
         random_state=42)

In [24]:
df_majority_upsampling.shape

(100, 3)

In [25]:
df_downsampled = pd.concat([df_minority,df_majority_upsampling])
df_downsampled['target'].value_counts()

target
1    100
0    100
Name: count, dtype: int64